.contenedor{

    .avisos{

            .aviso{

                    .contenido{

                        max-width: 470px;
                        min-width: 470px;
                        height: 197px;
                        background: rgb(255, 255, 255);
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        padding-left: 10px;

                            .titulo{

                                width: 100%;
                                height: 35px;

                                    .tituloTexto{

                                        font-size: 14px;
                                        font-weight: 600;
                                        padding-top: 7px;
                                        color: rgb(46, 180, 238);
                                    }
                            }

                            .ubicacion{

                                width: 100%;
                                height: 50px;

                                    .ubicacionTexto{

                                        font-size: 13px;
                                        font-weight: 600;

                                    }

                            }


                            .descripcion{

                                width: 100%;
                                height: 65px;
                                
                                

                                    .descripcionTexto{
                                        
                                        font-size: 12px;
                                        font-weight: 500;
                                        color: rgba(0, 0, 0,0.5);
                                        display: -webkit-box;
                                        -webkit-line-clamp: 3;
                                        -webkit-box-orient: vertical; 
                                        overflow: hidden;

                                    }

                            }

                            .footer{

                                width: 100%;
                                height: 47px;                                
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                    .fechaPublicado{

                                        font-size: 13px;
                                        font-weight: 600;

                                            i{

                                                margin-right: 3px;
                                            }

                                    }

                                    .contactar{

                                        margin-right: 25px;
                                        background: rgb(240, 179, 13);
                                        width: 90px;
                                        height: 30px;
                                        border-radius: 5px;
                                        text-align: center;
                                        padding: 5px;  
                                        font-weight: 600;   
                                        color: #fff; 
                                        cursor: pointer;                               

                                    }

                            }
                        

                    }
            }
    }
}