@media screen and (max-width:997px){

    .contenedor{

        flex-direction: column;
        margin: auto;
        max-width: 720px;
        min-width: 720px;
        padding: 5px;

        .filtro{

            max-width: 720px;
            min-width: 720px;
            max-height: 160px;
            min-height: 160px;
            margin-bottom: 20px;
            padding-bottom: 5px;

               .filtrado{

                   padding: 10px;
                   flex-direction: row;

                       .filtracion{

                           width: 240px;
                           height: auto;

                           .filtradoActual{
                               font-size: 15px;
                               text-align: center;

                           }

                           .filtrados{
                               display: flex;
                               justify-content: center;
                               margin-top: 30px;
                            
                           }
                           
                       }

               }


               .direccion{
                   width: 240px;
                   padding: 0px 15px ;

               }

               .tipoOperacion{
                   flex-direction: column;
                   padding: 5px 15px;
                   width: 240px;

                   .operacionIndice{

                       display: flex;
                       flex-direction: row;
                       justify-content: space-between;
                       align-items: center;


                           .operacionTexto{
                               margin-top: 0px;
                           }

                   }

                   .opciones{

                       display: flex;
                       flex-direction: column;

                   }
               }
       }
    }

}