.contenedor{

        .avisos{

            max-width: 720px;
            min-width: 720px;
            height: auto;

                .aviso{

                    max-width: 720px;
                    min-width: 720px;
                    height: 200px;
                    background: rgb(255, 255, 255);
                    border-radius: 4px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    border-top: 3px solid rgb(183, 0, 255);
                }
        }
}