* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Roboto', sans-serif; font-size: 16px; background: #e2e1e1; }

.oculto { display: none; }

.contenedor { margin: auto; max-width: 1000px; min-width: 1000px; height: auto; display: flex; flex-direction: row; justify-content: space-between; padding: 5px; }

.contenedor .filtro { max-width: 260px; min-width: 260px; max-height: 310px; min-height: 180px; background: white; border-radius: 4px; }
.contenedor .filtro .filtrado { padding: 10px; display: flex; flex-direction: column; }
.contenedor .filtro .filtrado .separador { background: #e0dfdf; border: 0.5px solid #e0dfdf; }
.contenedor .filtro .filtrado .filtracion { width: 100%; height: auto; }
.contenedor .filtro .filtrado .filtracion .filtradoActual { width: 100%; margin-top: 5px; margin-bottom: 10px; font-size: 15px; font-weight: 600; }
.contenedor .filtro .filtrado .filtracion .filtrados { width: 100%; height: 18px; display: flex; margin-bottom: 3px; }
.contenedor .filtro .filtrado .filtracion .filtrados p { font-size: 8px; margin: 2px 3px; padding-top: 3px; background: #e0dfdf; width: 80px; height: 15px; text-align: center; border-radius: 20px; font-weight: 600; color: black; cursor: pointer; }
.contenedor .filtro .direccion { width: 100%; padding: 5px 0 10px 0; }
.contenedor .filtro .direccion .direccionIndice { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.contenedor .filtro .direccion .direccionIndice .direccionTexto { width: 100%; margin-top: 5px; margin-bottom: 10px; font-size: 15px; font-weight: 600; }
.contenedor .filtro .direccion .direccionIndice .direccionflechaAbajo { margin-top: -2px; margin-right: 10px; font-size: 12px; cursor: pointer; }
.contenedor .filtro .direccion .direccionIndice .direccionflechaArriba { margin-top: -2px; margin-right: 10px; font-size: 12px; cursor: pointer; }
.contenedor .filtro .direccion .BucarDireccion { display: flex; margin-top: 5px; }
.contenedor .filtro .direccion .BucarDireccion input[type="text"] { height: 30px; padding: 10px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.3); width: 200px; font-size: 10px; cursor: pointer; }
.contenedor .filtro .direccion .BucarDireccion input[type="text"]:focus { outline: none; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.3); }
.contenedor .filtro .direccion .BucarDireccion .enviar { background: #fff; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.3); margin-left: 10px; width: 40px; text-align: center; cursor: pointer; }
.contenedor .filtro .direccion .BucarDireccion .enviar i { font-size: 13px; color: #37d3eb; }
.contenedor .filtro .direccion .BucarDireccion .enviar:focus { outline: none; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.3); }
.contenedor .filtro .tipoOperacion { width: 100%; display: flex; flex-direction: column; margin-bottom: 10px; }
.contenedor .filtro .tipoOperacion .operacionIndice { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.contenedor .filtro .tipoOperacion .operacionIndice .operacionTexto { width: 100%; margin-top: 10px; margin-bottom: 10px; font-size: 15px; font-weight: 600; }
.contenedor .filtro .tipoOperacion .operacionIndice .operacionflechaAbajo { margin-top: -2px; margin-right: 10px; font-size: 12px; cursor: pointer; }
.contenedor .filtro .tipoOperacion .operacionIndice .operacionflechaAbajo { margin-top: -2px; margin-right: 10px; font-size: 12px; cursor: pointer; }
.contenedor .filtro .tipoOperacion .opciones { display: flex; flex-direction: column; width: 100%; }
.contenedor .filtro .tipoOperacion .opciones .opcion { margin-bottom: 10px; margin-left: 2px; display: flex; align-items: center; width: 90px; cursor: pointer; }
.contenedor .filtro .tipoOperacion .opciones .opcion .tituloOpcion { font-size: 13px; margin-left: 10px; }

.contenedor .avisos { max-width: 720px; min-width: 720px; height: auto; }
.contenedor .avisos .aviso { max-width: 720px; min-width: 720px; height: 205px; background: white; border-radius: 4px; margin-bottom: 10px; display: flex; flex-direction: row; }
.contenedor .avisos .Simple { border-top: 1px solid black; }
.contenedor .avisos .Destacado { border-top: 3px solid #14fa8b; }
.contenedor .avisos .Superdestacado { border-top: 3px solid #b700ff; }

.contenedor .avisos .aviso .galeria { max-width: 250px; min-width: 250px; height: 200px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.contenedor .avisos .aviso .galeria .imagengaleria { max-width: 250px; min-width: 250px; height: 150px; border-top-left-radius: 4px; overflow: hidden; background-image: url("../imagenes/aviso3/2.jpg"); background-size: cover; }
.contenedor .avisos .aviso .galeria .imagengaleria .adornos { display: flex; justify-content: space-between; align-content: center; width: 240px; margin-top: 10px; }
.contenedor .avisos .aviso .galeria .imagengaleria .adornos p { color: #fff; font-size: 13px; margin-left: 10px; text-shadow: 1px 1px 3px black; }
.contenedor .avisos .aviso .galeria .imagengaleria .adornos .corazon { color: #FFF; text-shadow: 1px 1px 3px black; cursor: pointer; }
.contenedor .avisos .aviso .galeria .imagengaleria .flechas { color: #fff; display: flex; justify-content: space-between; align-content: center; width: 230px; margin-left: 10px; font-size: 20px; margin-top: 45px; text-shadow: 1px 1px 3px black; }
.contenedor .avisos .aviso .galeria .imagengaleria .flechas .atras { cursor: pointer; }
.contenedor .avisos .aviso .galeria .imagengaleria .flechas .adelante { cursor: pointer; }
.contenedor .avisos .aviso .galeria .imagengaleria .contador { width: 60px; height: 20px; background: rgba(0, 0, 0, 0.6); border-radius: 5px; margin-top: 33px; margin-left: 180px; display: flex; justify-content: center; align-items: center; }
.contenedor .avisos .aviso .galeria .imagengaleria .contador i { color: #fff; font-size: 10px; }
.contenedor .avisos .aviso .galeria .imagengaleria .contador p { color: #fff; font-size: 10px; margin-left: 4px; }
.contenedor .avisos .aviso .galeria .costos { max-width: 250px; min-width: 250px; height: 40px; background: white; border-bottom-left-radius: 4px; padding-left: 10px; border-right: 1px solid rgba(168, 166, 166, 0.4); margin-top: 5px; }
.contenedor .avisos .aviso .galeria .costos .precio { width: 100%; height: 25px; font-weight: 600; font-size: 20px; }
.contenedor .avisos .aviso .galeria .costos .expensas { width: 100%; height: 15px; font-size: 10px; font-weight: 300; padding-top: 3px; }

.contenedor .avisos .aviso .contenido { max-width: 470px; min-width: 470px; height: 197px; background: white; border-top-right-radius: 4px; border-bottom-right-radius: 4px; padding-left: 10px; }
.contenedor .avisos .aviso .contenido .titulo { width: 100%; height: 35px; }
.contenedor .avisos .aviso .contenido .titulo .tituloTexto { font-size: 14px; font-weight: 600; padding-top: 7px; color: #2eb4ee; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; }
.contenedor .avisos .aviso .contenido .ubicacion { width: 100%; height: 50px; }
.contenedor .avisos .aviso .contenido .ubicacion .ubicacionTexto { font-size: 13px; font-weight: 600; }
.contenedor .avisos .aviso .contenido .descripcion { width: 100%; height: 65px; padding-right: 15px; }
.contenedor .avisos .aviso .contenido .descripcion .descripcionTexto { font-size: 12px; font-weight: 500; color: rgba(0, 0, 0, 0.5); display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
.contenedor .avisos .aviso .contenido .footer { width: 100%; height: 47px; display: flex; justify-content: space-between; align-items: center; }
.contenedor .avisos .aviso .contenido .footer .fechaPublicado { font-size: 13px; font-weight: 600; }
.contenedor .avisos .aviso .contenido .footer .fechaPublicado i { margin-right: 3px; }
.contenedor .avisos .aviso .contenido .footer .contactar { margin-right: 25px; background: #f0b30d; width: 90px; height: 30px; border-radius: 5px; text-align: center; padding: 5px; font-weight: 600; color: #fff; cursor: pointer; }

.dark { position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); }
.dark .formulario { width: 500px; height: 280px; background: #fff; margin: 130px auto; border-radius: 5px; padding: 25px 30px 15px 25px; }
.dark .formulario .formularioTitulo { width: 100%; height: 30px; font-size: 14px; font-weight: 600; color: #2eb4ee; }
.dark .formulario .formBox { width: 100%; display: flex; flex-direction: column; }
.dark .formulario .formBox .formOrden { display: flex; margin: 10PX 0; margin-bottom: 35px; }
.dark .formulario .formBox .formOrden .formNombre { width: 250px; margin-right: 15px; }
.dark .formulario .formBox .formOrden .formNombre .nombreText { font-size: 13px; font-weight: 600; }
.dark .formulario .formBox .formOrden .formNombre .nombre { box-sizing: border-box; outline: none; display: block; width: 99%; border: none; border-bottom: 1px solid #ddd; margin-bottom: 10px; font: 16px Arial, Helvetica, sans-serif; height: 25px; color: #2dd8d2; }
.dark .formulario .formBox .formOrden .formNombre .errorTexto { font-size: 12px; font-weight: 500; color: red; }
.dark .formulario .formBox .formOrden .formNumber { width: 250px; }
.dark .formulario .formBox .formOrden .formNumber .numberText { font-size: 13px; font-weight: 600; }
.dark .formulario .formBox .formOrden .formNumber .number { box-sizing: border-box; outline: none; display: block; width: 99%; border: none; border-bottom: 1px solid #ddd; margin-bottom: 10px; font: 16px Arial, Helvetica, sans-serif; height: 25px; color: #2dd8d2; }
.dark .formulario .formBox .formOrden .formNumber .errorTexto { font-size: 12px; font-weight: 500; color: red; }
.dark .formulario .formBox .formEmail { width: 100%; }
.dark .formulario .formBox .formEmail .emailText { font-size: 13px; font-weight: 600; }
.dark .formulario .formBox .formEmail .email { box-sizing: border-box; outline: none; display: block; width: 99%; border: none; border-bottom: 1px solid #ddd; margin-bottom: 10px; font: 16px Arial, Helvetica, sans-serif; height: 25px; color: #2dd8d2; }
.dark .formulario .formBox .formEmail .errorTexto { font-size: 12px; font-weight: 500; color: red; }
.dark .formulario .formBox .enviarBox { width: 100%; display: flex; flex-direction: row-reverse; margin-top: 10px; }
.dark .formulario .formBox .enviarBox .enviar { width: 80px; height: 30px; background: #f0b30d; border: none; color: #fff; font-weight: 600; font-size: 14px; border-radius: 5px; cursor: pointer; }
.dark .formulario .formBox .enviarBox .enviar:focus { outline: none; border: none; }
.dark .devolucion { width: 500px; height: 100px; background: #fff; margin: 130px auto; border-radius: 5px; padding: 25px 30px 15px 25px; }
.dark .devolucion .devolucionTexto { width: 100%; height: 30px; font-size: 14px; font-weight: 600; color: #2eb4ee; }
.dark .devolucion .devolucionBoton { display: flex; flex-direction: row-reverse; }
.dark .devolucion .devolucionBoton .devolucionCerrar { width: 80px; height: 30px; background: #f0b30d; color: #fff; font-weight: 600; font-size: 14px; border-radius: 5px; cursor: pointer; text-align: center; padding: 6px; }

/*# sourceMappingURL=estilos.css.map */
